* {
  margin: 0;
  padding: 0;
}

<<<<<<< Updated upstream
.container {
  display: flex;
}

.background {
  background-image: url("images/Fundo.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
=======
.hero-section {
  background-image: url("images/Fundo.png");
>>>>>>> Stashed changes
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  border-bottom: 5px solid black;
}

.who-are-we {
  background: #003629;
  width: 100%;
  border-bottom: 5px solid #f1a20b;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* Proporção para criar um aspecto responsivo do vídeo (16:9) */
  height: 0;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-field {
  background-color: #002e23;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.text-field h2 {
  font-size: 50px;
}

.text-field p {
  font-size: 25px;
}

.form-section {
  min-height: 80vh;
  background-image: url("images/FundoNovo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

<<<<<<< Updated upstream
.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 2% auto;
  justify-content: space-between;
  background-color: #003629;
  margin-top: 100vh;
  align-items: center;
}

.displayHolder {
  margin-top: 2%;
  height: 80%;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #002b2130;
  align-items: center;
  border-radius: 15px;
}

.display4x4 {
  background-color: aqua;
  width: 47%;
  height: 44%;
  background-size: 100% 100%;
}
.position1 {
  background-image: url("images/Hempatia.png");
}
.position2 {
  background-image: url("images/Contato.png");
}
.position3 {
  background-image: url("images/quemSomos.png");
}
.position4 {
  background-image: url("images/Seja_Um_Associado.png");
}

<<<<<<< HEAD
fieldset {
  border: none;
  justify-content: space-evenly;
  border-radius: 40px;
  background-color: #ab24dc8c;
  width: 80vw;
  height: 10vh;
  margin-bottom: 1.5%;
}

legend {
  color: #71c305c2;
  margin-left: 3%;
  transform: translate(0, -12%);
  font-weight: bold;
  font-size: 2rem;
  -webkit-text-stroke: 0.75px #000;
}

.contatoField {
  background-color: #71c305c2;
  width: 28%;
  height: 100%;
  border-radius: 20px;
  transform: translate(0, -20%);
}

img {
  width: 100%;
  height: auto;
}

.pointer:hover {
  cursor: pointer;
=======
.navItemLink {
  text-decoration: none;
  color: white;
  font-size: 25px;
=======
.carousel-inner {
  border-radius: 15px;
}

.form-container {
  background-color: #f1a20b;
  border-radius: 15px;
}

.form-container h2 {
  color: white;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  cursor: pointer;
>>>>>>> Stashed changes
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #dddddd;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f1a20b;
}

.input {
  height: 3em;
}

.form-input {
  width: 80%;
}

.btn {
  background-color: white;
  border: white;
  width: 25%;
  color: #f1a20b;
  font-weight: bold;
}

.contact {
  background-color: #002e23;
}

.contactContent i {
  font-size: 45px;
}

@media (max-width: 800px) {
  .video {
    margin-bottom: 10px;
  }

  .font-desktop h2 {
    font-size: 20px;
  }

  .text-field p {
    font-size: 16px;
  }

  .img-fluid {
    margin-bottom: 10px;
  }

  .contactContent i {
    font-size: 32px;
  }
>>>>>>> alpha
}
