* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

/* Landing Page Background - Section */

.hero-section {
  background-image: url("images/Fundo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  border-bottom: 5px solid black;
}

/* Who are we - Section  */
.who-are-we {
  background-color: #e3e3db;
  height: 65vh;
  display: flex;
  justify-content: space-around;
}

.video-content {
  height: 80%;
  width: 80%;
}

.video-shadow {
  background-color: #003629;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 80%;
  height: 100%;
}

.video {
  background-color: #72c305;
  width: 120%;
  margin: -10%;
}

.video iframe {
  aspect-ratio: 16/9;
  width: 83.5%;
  padding: 4% 0;
}

.text-field {
  height: 80%;
  width: 70%;
  color: #003629;
}

.text-field h2 {
  font-size: 50px;
  text-align: center;
}

.text-field p {
  font-size: 26px;
  text-align: justify;
}

/* Education - Section*/

.education {
  background-color: #d8d8d0;
  height: 76vh;
}

.education-content {
  width: 80%;
}

.education-header {
  width: 100%;
  color: #72c305;
}

.education-header img {
  width: 15%;
}

.education-text p {
  font-size: 26px;
  text-align: justify;
}

.education-text strong {
  color: #72c305;
}

.education-buttons ul {
  list-style-type: none;
}

.education-buttons button {
  border: none;
  background-color: #f1a20b;
  color: #003629;
  font-weight: bold;
  padding: 5%;
  width: 200px;
  border-radius: 25px;
}

.education-animated {
  background-color: #d8d8d0;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated {
  animation: slideDown 1s ease-in-out;
}

/* Medical Appointment - Section */

.medical-appointment {
  background-color: #e3e3db;
  height: 95vh;
}

.appointment-title h3 {
  color: #003629;
  font-size: 32px;
  text-align: center;
}

.appointment-title h2 {
  color: #f1a20b;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.appointment-info {
  display: flex;
  height: 50vh;
}

.list-image {
  width: 20%;
}

.list-image img {
  width: 110%;
}

.description-title {
  font-size: 22px;
  font-weight: bold;
  color: #003629;
}

.description-text {
  font-size: 18px;
  color: #003629;
  text-align: justify;
}

.info-list {
  list-style: none;
}

.appointment-button button {
  border: none;
  background-image: linear-gradient(to right, #01a651, #8cc63f);
  color: #003629;
  font-size: 24px;
  font-weight: bold;
  padding: 2.2%;
  width: 320px;
  border-radius: 45px;
}

.appointment-image-background img {
  width: 100%;
}

/* Contact us - Section */

.contact-us {
  background-color: #d8d8d0;
  height: 95vh;
}

.contact-us-form {
  background-color: #fc036c;
  border-radius: 45px;
}

.contact-us-form h2 {
  color: white;
}

.contact-us input {
  border-radius: 15px;
  height: 3rem;
}

.contact-us textarea {
  border-radius: 15px;
}

.custom-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin: 10px; /* Ajuste as margens conforme necessário */
}

/* Footer - Section */

.contact {
  background-color: #003629;
}

.contact-content i {
  font-size: 35px;
}
